

NET "S[1]" LOC = V16;
NET "S[2]" LOC = U15;
NET "S[3]" LOC = V15;
NET "S[0]" LOC = U16;


NET "B[3]" LOC = M8;
NET "B[1]" LOC = T9;
NET "B[0]" LOC = T10;
NET "B[2]" LOC = V9;
NET "V" LOC = R11;
NET "M" LOC = C9;
NET "Cout" LOC = M11;


NET "A[3]" LOC = T5;
NET "A[2]" LOC = V8;
NET "A[1]" LOC = U8;
NET "A[0]" LOC = N8;
NET "C" LOC = M11;
NET "Z[3]" LOC = V15;
NET "Z[2]" LOC = U15;
NET "Z[1]" LOC = V16;
NET "Z[0]" LOC = U16;
